# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.buildlog/
.history
.svn/
*~
*.bak
*.tmp
*.old
*.orig
*.rej

# Flutter & Dart tool files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
app.*.symbols
app.*.map.json

# Web

# Platform ephemeral build files
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/
/windows/flutter/ephemeral/

# Android
.gradle/
**/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/key.properties
/android/captures/
*.jks
*.keystore

# iOS / macOS
**/Pods/
**/DerivedData/
**/xcuserdata/
**/*sync/
**/.symlinks/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.fltdefinition
/ios/Flutter/flutter_assets/
/ios/Flutter/Flutter.podspec

# Environment Secrets & Service Credentials
.env
.env.*
.secret.local
**/serviceAccountKey.json
**/firebase-adminsdk-*.json
*.pem
*.p12

# Local credentials
ors_secrets.json

# Project-specific artifacts & scratch files
.artifacts/
migrate_working_dir/
obsolete_code_backup/
.firebase/
